@font-face {
    font-family: 'NokiaPureHeadline-UltraLight';
    src: url('font/nokia/NOKIAPUREHEADLINE_ULT.TTF') format('truetype');
}
@font-face {
    font-family: 'NokiaPureHeadline-Bold';
    src: url('font/nokia/NOKIAPUREHEADLINE.TTF') format('truetype');
}
@font-face {
    font-family: 'NokiaPureHeadline-ExtraBold';
    src: url('font/nokia/NOKIAPUREHEADLINE_XBD.TTF') format('truetype');
}
body, .wrapper, .content {
    min-height: 100%;
}
.wrapper {
    overflow: hidden;
}
.content-inner {
    min-height: 100vh;
}
body {
    font: 18px 'NokiaPureHeadline-UltraLight', sans-serif;
}
.svg-triangle {
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1000px;
    z-index: 0;
    background: #001135;
}
.svg-triangle polygon {
    fill:#124191;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
/*.shape-container{*/
/*position:absolute;*/
/*top: 0;*/
/*bottom: 0;*/
/*width: 100%;*/
/*background: #001135;*/
/*z-index: 0;*/
/*}*/

/*.shape-top{*/
/*position:absolute;*/
/*top:0;*/
/*left:0;*/
/*width: 100%;*/
/*height: 100%;*/
/*background: #124191;*/
/*-webkit-clip-path: polygon(0 0, 128% 0, 50% 52%, 0 88%);*/
/*clip-path: polygon(0 0, 128% 0, 50% 52%, 0 88%);*/
/*z-index: 0;*/
/*}*/
.container {
    position: relative;
    z-index: 1;
}
.content-inner {
    padding-top: 125px;
}
.button-wrap {
    font-size: 30px;
    color: #021234;
    text-transform: uppercase;
}
.button {
    display: inline-block;
    width: 46px;
    height: 46px;
    background: url('../images/icons/download.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
}
.title-lg {
    font: 48px 'NokiaPureHeadline-ExtraBold', sans-serif;
    text-transform: uppercase;
    color: #fff;
    line-height: 50px;
}
.title-lg span {
    font-size: 1.45em;
}
.m-t-40 {
    margin-top: 40px;
}
.m-t-60 {
    margin-top: 60px;
}
.m-t-200 {
    margin-top: 200px;
}
a {
    color: #fff;
}
a:hover, a.active {
    text-decoration: none;
}
p {
    margin: 0;
}
.img-inBlock {
    display: inline-block;
    max-width: 100%;
}
.simple-link {
    display: inline-block;
    padding: 20px 0;
    font-family: 'NokiaPureHeadline-Bold', sans-serif;
    font-size: 19px;
    color: #de9c78;
}
.border-link {
    display: inline-block;
    padding: 20px;
    min-width: 220px;
    border: 5px solid #de9c78;
    color: #de9c78;
    background: transparent;
    font: 19px 'NokiaPureHeadline-Bold', sans-serif;
    outline: none;
    cursor: pointer;
}
.border-link:focus, .border-link:active {
    outline: none;
}
.simple-link:hover, .simple-link:active, .border-link:hover, .border-link:active {
    color:#de9c78;
}
.owl-left-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    border: 5px solid #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../images/icons/arrow-left.png") no-repeat center;
    -webkit-background-size: 19px;
    background-size: 19px;
}
.owl-right-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 5px solid #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url("../images/icons/arrow-right.png") no-repeat center;
    -webkit-background-size: 19px;
    background-size: 19px;
}
#simple-bothie .owl-nav {
    background: #fff;
    padding: 0 40px 35px;
}
.owl-nav::after {
    content: '';
    display: block;
    clear: both;
}
.owl-prev, .owl-next {
    float:left;
}
#container .item { width: 25%; }
#container .item.w2 { width: 50%; }
.bothie-wrap::after {
    content: '';
    display: block;
    clear: both;
}
.bothie-blocks {
    margin-top: 50px;
}
.bothie-wrap {
    display: inline-block;
    width: 280px;
    position: relative;
}
.bothie-btn {
    display: inline-block;
    width: 82px;
    height: 82px;
    line-height: 94px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    -moz-box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    background: #124191;
    color: #fff;
    z-index: 1;
}
.bothie-btn span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../images/icons/check.png') no-repeat center;
    -webkit-background-size: 25px;
    background-size: 25px;
}
.bothie-rat {
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font: 24px 'NokiaPureHeadline-ExtraBold', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,.7);
}
.bothie {
    display: inline-block;
    width: 280px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bothie-horizontal {
    width: 560px;
    height: 280px;
    text-align: center;
}
.bothie-horizontal .left, .bothie-horizontal .right {
    display: inline-block;
    margin-right: -0.28em;
}
.bothie-vertical>div {
    margin-bottom: -0.28em;
}
.bothie-vertical {
    margin-bottom: 60px;
}
.bothie-vertical-wrap {
    padding: 0 15px;
}
.bothie-vertical-wrap .bothie-vertical {
    width: 280px;
}
.bothie-vertical-wrap .bothie-vertical:first-child {
    float: left;
}
.bothie-vertical-wrap .bothie-vertical:last-child {
    float: right;
}
.bothie-vertical-wrap::after {
    content: '';
    display: block;
    clear: both;
}
#container .item>.bothie-horizontal:nth-child(2){
    margin-top: 60px;
    margin-bottom: 60px;
}
.hr {
    height: 1px;
    width: 100%;
    margin: 0;
    background-color: #869dba;
}
.shares-link {
    display: inline-block;
    padding: 10px;
    color: #fff;
    outline: none;
    background-color: transparent;
}
.shares-link:hover, .shares-link:active, .shares-link:focus {
    color: #fff;
}
.tt-up {
    text-transform: uppercase;
}
.font-30 {
    font-size: 30px;
    line-height: 30px;
}
.blue-text {
    color: #021234;
}
.white-text {
    color: #fff;
}
.tt-normal {
    text-transform: none !important;
}
.m-t-30 {
    margin-top: 30px !important;
}
.m-b-40 {
    margin-bottom: 40px;
}