
.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.main-menu__inner {
    height: 115px;
    line-height: 115px;
}
.main-menu__left {
    position: relative;
    float: left;
    width: 220px;
}
.main-menu__right {
    float: right;
    width: 202px;
    padding: 0 30px;
}
.main-menu__center {

}
.main-menu__right a {
    display: inline-block;
    height: 115px;
    width: 100%;
    background: url('../images/logo/logo_nokia.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.main-menu__left a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 142px;
    background: url('../images/logo/logo_friday.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.nav a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 15px;
    border: 5px solid transparent;
    color: #fff;
}
.nav a.active, .nav a:hover {
    border-color: #de9c78;
    text-decoration: none;
}
.nav .ul::after {
    content: '';
    display: block;
    clear: both;
}
.nav .ul li {
    float: left;
    margin-right: 52px;
}
.nav .ul li:last-child {
    margin-right: 0;
}
.main-page {
    background: url('../images/backgrounds/main_Nokia_16.jpg') no-repeat top center;
    -webkit-background-size: 1600px;
    background-size: 1600px;
}
header .top-layer {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2;
}
/*header .middle-layer {*/
/*position: absolute;*/
/*top: 354px;*/
/*left: 50%;*/
/*-webkit-transform: translateX(-50%) rotate(4deg);*/
/*-moz-transform: translateX(-50%) rotate(4deg);*/
/*-ms-transform: translateX(-50%) rotate(4deg);*/
/*-o-transform: translateX(-50%) rotate(4deg);*/
/*transform: translateX(-50%) rotate(4deg);*/
/*z-index: 1;*/
/*}*/
header .bottom-layer {
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
header .bottom-layer::before {

}
/*header .top-layer::after {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*top: 108px;*/
/*left: 0;*/
/*right: 0;*/
/*height: 120px;*/
/*background: #124191;*/
/*-webkit-transform: rotate(-22.5deg);*/
/*-moz-transform: rotate(-22.5deg);*/
/*-ms-transform: rotate(-22.5deg);*/
/*-o-transform: rotate(-22.5deg);*/
/*transform: rotate(-22.5deg);*/
/*z-index: -1;*/
/*}*/
header .top-figure img {
    display: block;
    width: 900px;
}
header .top.row {
    position: relative;
    z-index: 3;
}
header .bottom.row {
    position: relative;
    margin-top: 193px;
    z-index: 0;
}
.header-footer {
    position: relative;
    margin-top: 120px;
    padding-bottom: 25px;
}
.shares {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.shares-title {
    margin-bottom: 25px;
    color: #de9c78;
    font-size: 12px;
}
.shares ul::after {
    content: '';
    display: block;
    clear: both;
}
.shares li {
    display: inline-block;
    margin-right: 50px;
}
.shares li:last-child {
    margin-right: 0;
}
.shares li a {
    color: #de9c78;
    font-size: 25px;
}
.screen-second {
    padding-top: 155px;
    padding-bottom: 80px;
}
.screen-second .middle {
    margin-top: 40px;
    color: #fff;
}
.screen-second p {
    margin: 0;
}
.screen-second .links {
    padding: 40px 0;
}
.screen-second .left {
    padding-top: 60px;
    text-align: right;
}
.screen-second .left img {
    margin-right: -30px;
}
.screen-second .left .img-caption {
    width: 122px;
    margin-top: 20px;
    margin-left: 200px;
    text-align: center;
    color: #fff;
}
.screen-second .right {
    padding-top: 120px;
}
.screen-second .right img {
    margin-left: -30px;
}
.screen-second .bottom-p {
    margin-top: 30px;
    text-transform: uppercase;
    color: #021234;
    font-size: 30px;
    line-height: 30px;
}
.screen-second .bottom-p span {
    text-transform: none;
}
.screen-second .button-wrap {
    margin-top: 70px;
}
.screen-third {
    padding-top: 155px;
    padding-bottom: 80px;
}
.simple-bothie-block {
    margin-top: 75px;
    background: #fff;
}
.simple-bothie-block .img-wrap .left, .simple-bothie-block .img-wrap .right {
    float: left;
    width: 50%;
}
.simple-bothie-block .simple-bothie__content {
    padding: 40px 45px 30px;
    color: #001135;
}
.simple-bothie-block .title-bothie {
    margin: 0;
    text-transform: uppercase;
}
.simple-bothie-block p {
    margin: 0;
}
.simple-bothie-block .descr-bothie {
    padding: 35px 0 30px;
}
.screen-fourth {
    padding-top: 210px;
    padding-bottom: 50px;
}
.screen-fourth .title-lg {
    margin-bottom: 35px;
}
.screen-fourth .links {
    margin: 35px 0;
}
.screen-fifth {
    padding-top: 180px;
    padding-bottom: 55px;
}
.screen-fifth .title-lg {
    margin-bottom: 30px;
}
#screen-fifth__carousel {
    margin-top: 90px;
}
#screen-fifth__carousel .owl-prev .owl-left-icon {
    margin-right: 35px;
}
#screen-fifth__carousel .owl-next .owl-right-icon {
    margin-left: 35px;
}
#screen-fifth__carousel .owl-prev {
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#screen-fifth__carousel .owl-next {
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.screen-fifth .bottom-p {
    max-width: 372px;
    margin: 50px auto 0;
    text-transform: uppercase;
    color: #021234;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.screen-fifth .links {
    margin-top: 45px;
}
.personal-account {
    padding-top: 165px;
    padding-bottom: 180px;
    background: url('../images/backgrounds/PersonalAccount_Nokia_8.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}
.p-a__first {
    max-width: 600px;
    margin: 0 auto;
}
.p-a_links-week::after {
    content: '';
    display: block;
    clear: both;
}
.p-a_links-week {
    margin-top: 55px;
    margin-left: -10px;
}
.p-a_links-week>div {
    float: left;
    width: 25%;
}
.p-a_links-week a {
    display: inline-block;
    width: 88px;
    padding: 20px 0;
    border: 5px solid transparent;
    line-height: 20px;
    text-align: center;
}
.p-a_links-week a.active{
    width: 123px;
    padding: 20px;
    border-color: #de9c78;
}
.p-a_links-week a:hover {
    color: #fff;
}
.p-a_links-week a.disabled {
    color: #8697bc !important;
    cursor: default;
}
.p-a_links-week>div:first-child {
    text-align: left;
    padding-left: 0;
}
.p-a_links-week>div:last-child {
    text-align: right;
}
.p-a__title {
    height: 62px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: url('../images/screen/screen-second-title.png') no-repeat center;
    -webkit-background-size: 190px;
    background-size: 190px;
}
.do-it-bothie {
    padding-top: 50px;
}
.do-it-bothie__title {
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.mr-section-base .field-post-frontimagefile, .mr-section-base .field-post-backimagefile {
    opacity: 0;
}
#post-image-form .help-block {

}
#post-image-form .help-block {
    position: absolute;
    top: 0;
    width: 200px;
    font-size: 14px;
    color: #fff;
}
#post-image-form .row>div:nth-child(1) .help-block{
    right: 100%;
    text-align: right;
}
#post-image-form .row>div:nth-child(2) .help-block{
    left: 100%;
    text-align: left;
}
.mr-section {
    position: relative;
    border: 1px solid #869dba !important;
    overflow: hidden;
    margin-bottom: 30px;
}
.mr-upload-block  {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mr-upload-block h2 {
    font-size: 18px !important;
    color: #fff !important;
}
#post-image-form .row>div:nth-child(1) .mr-upload-block h2 span::before {
    content: 'фронтальной';
}
#post-image-form .row>div:nth-child(2) .mr-upload-block h2 span::before {
    content: 'тыловой';
}
.mr-control-panel {
    border: none !important;
    background-color: transparent !important;
}
.mr-control-panel .btn-group {
    display: none;
}
.form-group.has-success .mr-control-panel .btn-group {
    display: block;
}
.form-group.has-error .mr-section {
    border-color: #d0181e !important;
}
.mr-control-panel button {
    display: inline-block;
    position: relative;
    padding: 10px 12px;
    min-width: 48px;
    height: 48px;
    background-color: #001135;
    color: #fff;
    outline: none;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    text-align: center;
    cursor: pointer;
}
.mr-control-panel button:last-child {
    margin-right: 0;
}
.mr-control-panel button span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mr-control-panel .mr-rotate-right span {
    background: url('../images/icons/rotate-right.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-rotate-left span {
    background: url('../images/icons/rotate-left.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-upload span {
    background: url('../images/icons/upload.png') no-repeat center;
    -webkit-background-size: 18px;
    background-size: 18px;
}
.mr-control-panel .mr-zoom-in span {
    background: url('../images/icons/add.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-zoom-out span {
    background: url('../images/icons/minus.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-fit span {
    background: url('../images/icons/resize.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.do-it-bothie .simple-link {
    margin-top: 20px;
}
.p-a__second {
    max-width: 645px;
    margin: 0 auto;
}
.p-a__second .title-lg {
    margin: 60px 0;
}
.other-jobs__item {
    margin-bottom: 90px;
}
.other-jobs__item:last-child {
    margin-bottom: 0;
}
.other-jobs__item .top {
    margin-bottom: 30px;
}
.other-jobs__item .top::after {
    content: '';
    display: block;
    clear: both;
}
.other-jobs__item .left, .other-jobs__item .right {
    position: relative;
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.other-jobs__item .left:before, .other-jobs__item .right:before {
    content: '';
    padding-top: 100%;
    float: left;
}
.other-jobs__item .bottom {
    font-size: 20px;
    color: #fff;
}
.other-jobs__item .bottom p {
    margin: 20px 0 25px;
}
.o-j__rating h4 {
    font-family: 'NokiaPureHeadline-ExtraBold', sans-serif;
    text-transform: uppercase;
}
.o-j__shares .shares-link {
    margin-right: 20px;
}
.o-j__shares .shares-link:last-child {
    margin-right: 0;
}