.main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.main-menu__inner {
    height: 115px;
    line-height: 115px;
    background: rgba(0,27,150,1);
    background: -moz-linear-gradient(top, rgba(0,27,150,1) 0%, rgba(0,0,185,1) 50%, transparent 70%, transparent 100%);
    background: -webkit-linear-gradient(top, rgba(0,27,150,1) 0%, rgba(0,0,185,1) 50%, transparent 70%, transparent 100%);
    background: -o-linear-gradient(top, rgba(0,27,150,1) 0%, rgba(0,0,185,1) 50%, transparent 70%, transparent 100%);
    background: -ms-linear-gradient(top, rgba(0,27,150,1) 0%, rgba(0,0,185,1) 50%, transparent 70%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0,27,150,1) 0%, rgba(0,0,185,1) 50%, transparent 70%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001b96', endColorstr='#ffffff', GradientType=0 );
}
.main-menu .container {
    padding: 0 !important;
}
.main-menu__left {
    position: relative;
    float: left;
    width: 220px;
    height: 115px;
}
.main-menu__right {
    float: right;
    width: 202px;
    padding: 0 30px;
}
.main-menu__center {

}
.main-menu__right a {
    display: inline-block;
    height: 115px;
    width: 100%;
    background: url('../images/logo/logo_nokia.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.main-menu__left a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 142px;
    background: url('../images/logo/logo_friday.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.nav a, .nav button {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 15px;
    border: 5px solid transparent;
    background: transparent;
    outline: none;
    color: #fff;
    cursor: pointer;
}
.nav a.active, .nav a:hover, .nav button.active, .nav button:hover {
    border-color: #FF9A6F;
    text-decoration: none;
}
.nav .ul::after {
    content: '';
    display: block;
    clear: both;
}
.nav .ul li {
    float: left;
    margin-right: 17px;
}
.nav .ul li:last-child {
    margin-right: 0;
}
.main-page {
    background: url('../images/backgrounds/main_Nokia_1600.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}
header .top-layer {
    position: absolute;
    top: 18%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: .4s ease-in .2s;
    -moz-transition: .4s ease-in .2s;
    -ms-transition: .4s ease-in .2s;
    -o-transition: .4s ease-in .2s;
    transition: .4s ease-in .2s;
    opacity: 1;
    z-index: 3;
}
header .top-layer.transform {
    -webkit-transform: translateX(-15%) translateY(-30%);
    -moz-transform: translateX(-15%) translateY(-30%);
    -ms-transform: translateX(-15%) translateY(-30%);
    -o-transform: translateX(-15%) translateY(-30%);
    transform: translateX(-15%) translateY(-30%);
    opacity: 0;
}
header .middle-layer {
    position: absolute;
    left: 50%;
    top: -140px;
    bottom: -20px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('../images/backgrounds/top.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
    overflow: hidden;
}
header .bottom-layer {
    position: absolute;
    top: 18%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: .4s ease-in .5s;
    -moz-transition: .4s ease-in .5s;
    -ms-transition: .4s ease-in .5s;
    -o-transition: .4s ease-in .5s;
    transition: .4s ease-in .5s;
    opacity: 1;
    z-index: 1;
}
header .bottom-layer.transform {
    -webkit-transform: translateX(-90%) translateY(27%);
    -moz-transform: translateX(-90%) translateY(27%);
    -ms-transform: translateX(-90%) translateY(27%);
    -o-transform: translateX(-90%) translateY(27%);
    transform: translateX(-90%) translateY(27%);
    opacity: 0;
}
header .bottom-layer::before {

}
header .top-figure img {
    display: block;
    width: 900px;
}
header .buttons {
    position: relative;
    z-index: 3;
}
header .top.row {
    position: relative;
    z-index: 3;
}
header .bottom.row {
    position: relative;
    margin-top: 193px;
    z-index: 0;
}
.header-footer {
    position: relative;
    margin-top: 120px;
    padding-bottom: 25px;
}
.shares {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.shares-title {
    margin-bottom: 25px;
    color: #de9c78;
    font-size: 12px;
}
.shares ul::after {
    content: '';
    display: block;
    clear: both;
}
.shares li {
    display: inline-block;
    margin-right: 50px;
}
.shares li:last-child {
    margin-right: 0;
}
.shares li a {
    color: #FF9A6F;
    font-size: 25px;
}
.screen-second {
    padding-top: 155px;
    padding-bottom: 80px;
}
.screen-second .middle {
    margin-top: 40px;
    color: #fff;
}
.screen-second p {
    margin: 0;
}
.screen-second .links {
    padding: 40px 0;
}
.screen-second .left {
    position: relative;
    padding-top: 60px;
    text-align: right;
}
.screen-second .left img {
    margin-right: -30px;
}
.screen-second .left .img-caption {
    width: 122px;
    position: absolute;
    top: 100%;
    right: -32px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.screen-second .right {
    padding-top: 120px;
}
.screen-second .right img {
    margin-left: -30px;
}
.screen-second .bottom-p {
    margin-top: 30px;
}
.screen-second .bottom-p span {
    text-transform: none;
}
.screen-second .button-wrap {
    margin-top: 70px;
}
.screen-third {
    padding-top: 155px;
    padding-bottom: 80px;
}
.simple-bothie-block {
    margin-top: 75px;
    background: #fff;
}
.simple-bothie-block .img-wrap .left, .simple-bothie-block .img-wrap .right {
    float: left;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.simple-bothie-block .img-wrap .left:before, .simple-bothie-block .img-wrap .right::before {
    content: '';
    padding-top: 100%;
    float: left;
}
.simple-bothie-block .simple-bothie__content {
    padding: 40px 45px 30px;
    color: #001135;
}
.simple-bothie-block .title-bothie {
    margin: 0;
    text-transform: uppercase;
}
.simple-bothie-block p {
    margin: 0;
}
.simple-bothie-block .descr-bothie {
    padding: 35px 0 30px;
}
.screen-fourth {
    padding-top: 210px;
    padding-bottom: 50px;
}
.screen-fourth .title-lg {
    margin-bottom: 35px;
}
.screen-fourth .links {
    margin: 35px 0;
}
.screen-fifth {
    padding-top: 180px;
    padding-bottom: 55px;
}
.screen-fifth .title-lg {
    margin-bottom: 30px;
}
#screen-fifth__carousel {
    margin-top: 90px;
}
#screen-fifth__carousel .owl-prev .owl-left-icon {
    margin-right: 35px;
}
#screen-fifth__carousel .owl-next .owl-right-icon {
    margin-left: 35px;
}
#screen-fifth__carousel .owl-prev {
    position: absolute;
    right: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
#screen-fifth__carousel .owl-next {
    position: absolute;
    left: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.screen-fifth .bottom-p {
    max-width: 372px;
    margin: 50px auto 0;
    text-transform: uppercase;
    color: #021234;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
.screen-fifth .links {
    margin-top: 45px;
}
.personal-account {
    padding-top: 165px;
    padding-bottom: 180px;
    background: url('../images/backgrounds/PersonalAccount_Nokia_8.jpg') no-repeat top center;
    -webkit-background-size: cover;
    background-size: cover;
}
.p-a__first {
    max-width: 600px;
    margin: 0 auto;
}
.p-a_links-week::after {
    content: '';
    display: block;
    clear: both;
}
.p-a_links-week {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    max-width: 610px;
}
.p-a_links-week>div {
    float: left;
    width: 25%;
}
.p-a_links-week a {
    display: inline-block;
    width: 88px;
    padding: 20px 0;
    border: 5px solid transparent;
    line-height: 20px;
    text-align: center;
}
.p-a_links-week a.active{
    width: 123px;
    padding: 20px;
    border-color: #FF9A6F;
}
.p-a_links-week a:hover {
    color: #fff;
}
.p-a_links-week a.disabled {
    color: #8697bc !important;
    cursor: default;
}
.p-a_links-week>div:first-child {
    text-align: left;
    padding-left: 0;
}
.p-a_links-week>div:last-child {
    text-align: right;
}
.p-a__title {
    height: 62px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: url('../images/screen/screen-second-title.png') no-repeat center;
    -webkit-background-size: 190px;
    background-size: 190px;
}
.do-it-bothie {
    padding-top: 50px;
}
.do-it-bothie__title {
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.mr-section-base .field-post-frontimagefile, .mr-section-base .field-post-backimagefile {
    opacity: 0;
}
#post-image-form .help-block {

}
#post-image-form .help-block {
    position: absolute;
    top: 0;
    width: 200px;
    font-size: 14px;
    color: #fff;
    line-height: 18px;
}
#post-image-form .row>div:nth-child(1) .help-block{
    right: 100%;
    text-align: right;
}
#post-image-form .row>div:nth-child(2) .help-block{
    left: 100%;
    text-align: left;
}
.mr-section {
    position: relative;
    border: 1px solid #869dba !important;
    overflow: hidden;
    margin-bottom: 30px;
}
.mr-upload-block  {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mr-upload-block h2 {
    font-size: 18px !important;
    color: #fff !important;
}
#post-image-form .row>div:nth-child(1) .mr-upload-block h2 span::before {
    content: 'фронтальной';
}
#post-image-form .row>div:nth-child(2) .mr-upload-block h2 span::before {
    content: 'тыловой';
}
.mr-control-panel {
    border: none !important;
    background-color: transparent !important;
}
.mr-control-panel .btn-group {
    display: none;
}
.form-group.has-success .mr-control-panel .btn-group {
    display: block;
}
.form-group.has-error .mr-section {
    border-color: #d0181e !important;
}
.mr-control-panel button {
    display: inline-block;
    position: relative;
    padding: 10px 12px;
    min-width: 48px;
    height: 48px;
    background-color: #001135;
    color: #fff;
    outline: none;
    border: none;
    margin-right: 2px;
    margin-bottom: 2px;
    text-align: center;
    cursor: pointer;
}
.mr-control-panel button:last-child {
    margin-right: 0;
}
.mr-control-panel button span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 22px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mr-control-panel .mr-rotate-right span {
    background: url('../images/icons/rotate-right.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-rotate-left span {
    background: url('../images/icons/rotate-left.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-upload span {
    background: url('../images/icons/upload.png') no-repeat center;
    -webkit-background-size: 18px;
    background-size: 18px;
}
.mr-control-panel .mr-zoom-in span {
    background: url('../images/icons/add.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-zoom-out span {
    background: url('../images/icons/minus.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.mr-control-panel .mr-fit span {
    background: url('../images/icons/resize.png') no-repeat center;
    -webkit-background-size: 22px;
    background-size: 22px;
}
.do-it-bothie .simple-link {
    margin-top: 20px;
}
.p-a__second {
    max-width: 645px;
    margin: 0 auto;
}
.p-a__second .title-lg {
    margin: 60px 0;
}
.other-jobs__item {
    margin-bottom: 90px;
}
.other-jobs__item:last-child {
    margin-bottom: 0;
}
.other-jobs__item .top {
    margin-bottom: 30px;
}
.other-jobs__item .top::after {
    content: '';
    display: block;
    clear: both;
}
.other-jobs__item .left, .other-jobs__item .right {
    position: relative;
    float: left;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}
.other-jobs__item .left:before, .other-jobs__item .right:before {
    content: '';
    padding-top: 100%;
    float: left;
}
.other-jobs__item .bottom {
    font-size: 20px;
    color: #fff;
}
.other-jobs__item .bottom p {
    margin: 20px 0 25px;
}
.o-j__rating h4 {
    font-family: 'NokiaPureHeadline-ExtraBold', sans-serif;
    text-transform: uppercase;
}
.o-j__shares .shares-link {
    margin-right: 20px;
}
.o-j__shares .shares-link:last-child {
    margin-right: 0;
}
.how-to-win {
    background: url('../images/backgrounds/PersonalAccount_Nokia_8.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.how-to-win__inner {
    max-width: 670px;
    margin: 0 auto;
    padding-top: 135px;
    padding-bottom: 175px;
}
.how-to-win__inner .top__title-first {
    height: 62px;
    margin-bottom: 50px;
    background: url('../images/screen/screen-second-title.png') no-repeat center;
    -webkit-background-size: 190px;
    background-size: 190px;
}
.how-to-win__second {
    position: relative;
}
.how-to-win__second .left {
    position: absolute;
    right: 100%;
    top: 135px;
    width: 100%;
    height: 1100px;
    margin-right: -80px;
    background: url('../images/backgrounds/HMD_B1_Packshot3_ExclArteBlack_FINAL_LowRes_20170801-копия.png') no-repeat top right;
    -webkit-background-size: auto;
    background-size: auto;
}
.how-to-win__second .right {
    position: absolute;
    left: 100%;
    top: -445px;
    width: 100%;
    height: 1100px;
    margin-left: -20px;
    background: url('../images/backgrounds/HMD_B1_Packshot3_ExclArteBlack_FINAL_LowRes_20170801-копия.png') no-repeat top left;
    -webkit-background-size: auto;
    background-size: auto;
}
.how-to-win__second .left img {
    display: block;
    width: auto;
}
.week-type__item {
    position: relative;
    width: 205px;
    height: 205px;
    margin: 120px auto 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #69a8da;
}
.week-type__img {
    height: 310px;
    position: absolute;
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.week-type__text {
    position: absolute;
    top: 50%;
    left: 47%;
    line-height: 18px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
    text-align: left;
}
.week-steps {
    padding-bottom: 55px;
}
.week-steps .hr {
    max-width: 600px;
    margin: 35px auto;
}
.week-steps p {
    line-height: 28px;
    color: #fff;
}
.step-item {
    margin-bottom: 100px;
}
.step-item:last-child {
    margin-bottom: 0;
}
.site-login {
    padding-top: 165px;
    background: url("../images/backgrounds/registration.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.site-login__inner {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 270px;
}
.site-login__first {
    padding-bottom: 80px;
}
.site-login__inner .eauth {
    margin: 100px 0 50px;
}
.eauth-service {
    margin: 0 !important;
}
.eauth .eauth-list {
    margin: 0;
    text-align: center;
}
.eauth-service-link {
    width: 70px;
    padding-top: 0;
}
.eauth-service-link:after {
    display: none !important;
}
.eauth-service-link:before {
    content: '';
    display: block;
    position: static!important;
    width: 70px!important;
    height: 70px!important;
    margin: 0 auto;
    background: url('../images/icons/instagram.png') no-repeat!important;
    background-position: center !important;
    -webkit-background-size: contain;
    background-size: contain;
}
.site-login__second .hr {
    margin-bottom: 20px;
}
.site-login__second {
    padding-bottom: 50px;
    text-align: left;
}
.site-login__second .left {
    float: left;
}
.site-login__second .right {
    padding-left: 45px;
}
.form-group {
    margin-bottom: 10px;
    line-height: 35px;
}
.vote-page {
    padding-top: 165px;
    padding-bottom: 150px;
    background: url('../images/backgrounds/back.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.vote-page__first-inner {
    max-width: 645px;
    margin: 0 auto;
}
.vote-item {
    padding-top: 65px;
    color: #fff;
}
.vote-item .top::after {
    content: '';
    display: block;
    clear: both;
}
.vote-item .top>div {
    float: left;
    position: relative;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.vote-item .top>div::before {
    content: '';
    float: left;
    padding-top: 100%;
}
.vote-item .middle {
    padding: 35px 0 45px;
}
.vote-item h4 {
    margin: 0 0 20px;
    font: 20px 'NokiaPureHeadline-ExtraBold', sans-serif;
    text-transform: uppercase;
}
.vote-item{
    font-size: 20px;
}
.vote-item .bottom {
    text-align: center;
}
.vote-button {
    display: inline-block;
    position: relative;
    width: 175px;
    height: 175px;
    background-color: #001B96;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    -moz-box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    box-shadow: 5px 5px 21px 0 rgba(0,0,0,.39);
    font-size: 20px;
    color: #fff;
}
.vote-button:hover, .vote-button:active {
    color: #fff;
}
.vote-button span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.vote-button span::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto 0;
    background: url('../images/icons/check2.png') no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
}
.vote-page__first-inner .section-bottom {
    margin: 55px 0;
}
.vote-page__first-inner .section-bottom .links {
    padding: 75px 0 40px;
}
.vote-page__second-inner .bothie-blocks {
    margin-top: 80px;
}
.rates-content {
    padding-top: 145px;
    background: url('../images/backgrounds/rates.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.rates-page .title {
    margin-bottom: 50px;
}
.rates-page .title .img-inBlock {
    width: 505px;
}
.rates-page .links {
    margin-top: 15px;
}
.rates-page .links div:nth-child(2) {
    margin-top: 10px;
}
.rates-page .bothie-vertical-wrap .bothie-wrap:first-child {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
}
.rates-page .bothie-vertical-wrap .bothie-wrap:last-child {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
    transform: translateY(120px);
}
.rates-page .bothie-blocks {
    padding-bottom: 175px;
}
.rates-footer {
    padding-top: 60px;
    padding-bottom: 45px;
    background-color: #090037;
}
.rates-footer .links {
    margin-bottom: 105px;
}
.rates-page .shares {
    bottom: 0;
}
.hidden-btn {
    display: none;
}
.show-menu {
    position: fixed;
    top: 14px;
    right: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border: 2px solid #FF9A6F;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    z-index: 13;
}
.show-menu__inner {
    display: block;
    width: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 0;
}
.show-menu__inner span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin-bottom: 5px;
    -webkit-transition: .6s .2s;
    -moz-transition: .6s .2s;
    -ms-transition: .6s .2s;
    -o-transition: .6s .2s;
    transition: .6s .2s;
}
.show-menu__inner span:last-child {
    margin-bottom: 0;
}
.show-menu.active .show-menu__inner span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    -moz-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    -ms-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    -o-transform: rotate(-45deg) translateY(5px) translateX(-5px);
    transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
.show-menu.active .show-menu__inner span:nth-child(3) {
    -webkit-transform: rotate(45deg) translateY(-5px) translateX(-5px);
    -moz-transform: rotate(45deg) translateY(-5px) translateX(-5px);
    -ms-transform: rotate(45deg) translateY(-5px) translateX(-5px);
    -o-transform: rotate(45deg) translateY(-5px) translateX(-5px);
    transform: rotate(45deg) translateY(-5px) translateX(-5px);
}
.show-menu.active .show-menu__inner span:nth-child(2) {
    opacity: 0;
}
@media (min-width: 1880px){
    header .middle-layer {
        bottom: -44px;
    }
}
@media (max-width: 1320px) {
    .container {
        padding: 0 20px;
    }
    .screen-fourth .container {
        padding: 0;
    }
}
@media (max-width: 1279px) {
    .container {
        padding: 0 40px;
    }
    .main-menu .col-3 {
        max-width: 18%;
    }
    .main-menu .col-6 {
        max-width: inherit;
        width: 64%;
        flex: none;
        text-align: center;
    }
    .main-menu__inner {
        height: 90px;
        line-height: 86px;
    }
    .main-menu__left {
        height: 90px;
        width: 100%;
    }
    .main-menu__left a {
        height: 110px;
        background-position: left top;
    }
    .main-menu__right {
        width: 100%;
    }
    .main-menu__right a {
        height: 92px;
    }
    .nav .ul {
        width: 100%;
    }
    .nav .ul li {
        float: none;
        display: inline-block;
    }
    header .top h2 {
        max-width: 640px;
    }
    header .bottom h2 {
        max-width: 300px;
    }
    header .top .col-md-6 {
        padding-left: 0;
    }
    header .bottom .col-md-6 {
        padding-right: 0;
    }
    header .top .col-md-6 {
        max-width: 640px;
        flex: none;
    }
    header .top-figure img {
        width: 800px;
    }
    header .top-layer, header .bottom-layer {
        top: 21%;
    }
    .header-footer .col-md-2 {
        max-width: 210px;
        flex: none;
    }
}
@media (max-width: 1150px) {
    header .buttons {
        display: none;
    }
    header .top h2 {
        margin-top: 0;
    }
    header .top-layer, header .bottom-layer {
        top: -5%;
    }
    header .bottom>.col-md-6>.row>.col-md-6 {
        max-width: 300px;
        flex: none;
        padding-left: 0;
    }
    header .bottom.row {
        margin-top: 178px;
    }
    header .bottom h2 {
        max-width: 372px;
    }
    header .middle-layer {
        bottom: auto;
        height: 605px;
    }
}
@media (max-width: 1130px) {
    .main-menu__inner {
        height: 80px;
        line-height: 76px;
    }
    .nav a, .nav button {
        padding: 10px 15px;
    }
    .main-menu__left {
        height: 80px;
    }
    .main-menu__left a {
        width: 170px;
        height: 121%;
    }
    .main-menu__right, .main-menu__right a {
        height: 80px;
    }
}
@media (max-width: 1020px) {
    .nav .ul li {
        margin-right: 0;
    }
    .main-page {
        background: #010431;
    }
    .screen-second, .screen-third, .screen-fourth, .screen-fifth {
        padding-top: 80px;
    }
    .screen-second .blue-text {
        color: #fff;
    }
    .screen-second .button-wrap {
        display: none;
    }
    .screen-fifth .bottom-p {
        color: #fff !important;
    }
}
@media (max-width: 992px) {
    .main-menu .row>div:last-child {
        display: none;
    }
    .main-menu .col-3 {
        flex: none;
        width: 170px;
        max-width: inherit;
        padding-right: 0;
    }
    .main-menu .col-6 {
        padding-left: 0;
        width: calc(100% - 170px);
        text-align: right;
    }
    .shares {
        left: auto;
        right: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .shares-title {
        margin-bottom: 10px;
    }
    .header-footer {
        margin-top: 70px;
    }
}
@media (max-width: 768px) {
    .main-menu .hidden-btn {
        display: inline-block;
    }
    /*.show-menu.active {*/
        /*position: fixed;*/
        /*top: 15px;*/
        /*right: 0;*/
        /*z-index: 13;*/
    /*}*/
    .nav {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 12;
        background: #010431;
        overflow-y: auto;
        text-align: center;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
    .nav.show {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    .nav .ul {
    }
    .nav .ul li {
        width: 100%;
        margin-bottom: 10px;
        line-height: normal;
    }
    .nav .ul li a {
        display: inline-block;
    }
    .main-menu__left {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 13;
    }
    /*header .top-figure img {*/
        /*width: 100%;*/
    /*}*/
    header .top-layer, header .bottom-layer {
        display: none;
    }
    header .bottom.row, header .top h2 {
        margin-top: 35px;
    }
    header .bottom>.col-md-6 {
        width: 50%;
    }
    .screen-second .row>.col-md-3 {
        display: none;
    }
    .screen-fourth p {
        padding: 0 40px;
    }
    .screen-fifth .owl-nav {
        display: none;
    }
}
@media (max-width: 650px){
    header .top h2, header .bottom h2 {
        text-align: center !important;
    }
    header .bottom.row {
        z-index: 3;
    }
    header .top>.col-md-6, header .bottom>.col-md-6 {
        width: 100%;
        padding: 0;
    }
    header .bottom>.col-md-6>.row>.col-md-6 {
        margin: 0 auto;
    }
    header .middle-layer {
        height: 450px;
    }
}
@media (max-width: 600px){
    .screen-fourth .title-lg {
        padding: 0 20px;
        font-size: 38px;
    }
}
@media (max-width: 530px){
    .header-footer .shares {
        position: static;
    }
    .header-footer .col-md-2 {
        margin: 0 auto 30px;
        text-align: center !important;
    }
}
@media (max-width: 500px){
    .container {
        padding: 0 20px;
    }
    .main-menu__inner {
        height: 65px;
        line-height: 65px;
    }
    .main-menu__left {
        position: static;
        height: 65px;
    }
    .main-menu .col-3 {
        width: 142px;
    }
    .show-menu {
        top: 7px;
    }
    .title-lg {
        font-size: 35px;
        line-height: 38px;
    }
    header .middle-layer {
        height: 350px;
    }
    header .top h2 {
        margin-top: 0;
    }
    .screen-second .img-inBlock {
        max-width: 80%;
    }
    .screen-second .middle br {
        display: none;
    }
    .screen-second .font-30, .screen-fifth .bottom-p {
        font-size: 22px;
    }
    .simple-bothie-block {
        margin-top: 30px;
    }
    .simple-bothie-block .img-wrap .left, .simple-bothie-block .img-wrap .right {
        width: 100%;
    }
    .simple-bothie-block .simple-bothie__content {
        padding: 20px 15px;
    }
    #simple-bothie .owl-nav {
        padding-bottom: 20px;
        text-align: center;
    }
    #simple-bothie .owl-prev, #simple-bothie .owl-next {
        float: none;
        display: inline-block;
    }
    .screen-fourth p {
        padding: 0 20px;
    }
}
@media (max-width: 340px) {
    .screen-fifth .title-lg {
        font-size: 28px;
    }
}